<div class="container" style="width: 400px;">
    <div class="form-control" style="text-align:right; height: 100px;background-color: #212121;">
        <h1 id="result" style="color: white">0</h1>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="col-xs-3" >
            <button id="clear" class="button button-circle button-giant">C</button>
        </div>
        <div class="col-xs-3" >
            <button id="negative" class="button button-circle button-giant">+/-</button>
        </div>
        <div class="col-xs-3" >
            <button id="percentage" class="button button-circle button-giant">%</button>
        </div>
        <div class="col-xs-3" >
            <button id="division" class="button button-highlight button-circle button-giant">÷</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="col-xs-3" >
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">1</a>
        </div>
        <div class="col-xs-3">
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">2</a>
        </div>
        <div class="col-xs-3">
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">3</a>
        </div>
        <div class="col-xs-3" >
            <button id="multipy" class="button button-highlight button-circle button-giant">×</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="col-xs-3" >
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">4</a>
        </div>
        <div class="col-xs-3">
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">5</a>
        </div>
        <div class="col-xs-3">
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">6</a>
        </div>
        <div class="col-xs-3" >
            <button id="sub" class="button button-highlight button-circle button-giant">—</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="col-xs-3" >
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">7</a>
        </div>
        <div class="col-xs-3">
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">8</a>
        </div>
        <div class="col-xs-3">
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">9</a>
        </div>
        <div class="col-xs-3" >
            <button id="sum" class="button button-highlight button-circle button-giant">+</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="col-xs-6" >
            <a class="num-button button button-glow button-border button-rounded button-primary button-giant">0</a>
        </div>
        <div class="col-xs-3">
            <a class="num-button button button-glow button-border button-rounded button-primary button-square button button-circle button-giant">.</a>
        </div>
        <div class="col-xs-3" >
            <button id="answer" class="button button-highlight button-circle button-giant">=</button>
        </div>
    </div>
</div>